<h1>Editing post</h1>
 
<%= form_for :comment, url: comment_path(@comment), method: :patch do |f| %>
  <p>
    <input type="text" id="comment_post_id" name="comment[post_id]" />
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>