<h1>Listing comments</h1>
 
<table>
  <tr>
  	<th>Post</th>
    <th>Body</th>
  </tr>
 
  <% @comments.each do |comment| %>
    <tr>
    	<td><%= comment.post_id %></td>
      <td><%= comment.body %></td>
    </tr>
  <% end %>
</table>